
{% extends "general/layout.twig" %}

{% block body %}

{% if loginError or userDisabled %}
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="alert alert-danger alert-dismissible" role="alert" style="text-align: center;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ (loginError? 'error-login' : 'user-disabled') | t }}
              </div>
          </div>
      </div>
  </div>
{% endif %}

{% if error %}
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="alert alert-danger alert-dismissible" role="alert" style="text-align: center;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message_error? message_error : language.l('error') }}
              </div>
          </div>
      </div>
  </div>
{% endif %}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="register-title">Inicia sesión o registrate</h3>
      </div>
    </div>
    
    <div class="register-wrapper">
      <div class="row">
          
          <div class="col-md-6 col-xs-6">
            {# <h2>{{ language.l('login') }}</h2> #}
            <form id="login-form" action="/login/" method="post">
              <input type="hidden" name="ref" value="{{ ref | e('html_attr') }}">
              <div class="form-group">
                <input type="email" class="form-control" id="" name="email" maxlength="255" required placeholder="Tu email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="" name="password" required placeholder="Tu contraseña">
              </div>
              <div class="checkbox">
              </div>
              <p><button type="submit" class="btn btn-green">Iniciar</button></p>
              <p><a href="/recovery" class="fc-orange">¿Olvidaste la contraseña?</a></p>
            </form>
            
            <p>
              <a href="/{#auth/facebook/?ref={{ ref | url_encode | e('html_attr') }}#}" class="btn btn-facebook">Facebook</a>
              <br />
            </p>

          </div>
          <div class="col-md-6 col-xs-6">
            <form class="register-form" action="/register/" method="post">
              <input type="hidden" name="ref" value="{{ ref | e('html_attr') }}">
              {# <h2>{{ language.l('create-new-account') }}</h2> #}
              <div class="form-group">
                <input type="text" class="form-control" id="" name="name" minlength="2" maxlength="60" required placeholder="Tu nombre">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="" name="email" maxlength="255" required placeholder="Tu email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="" name="password" required placeholder="Tu contraseña">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="check-auth" value="1" required>
                  <a href="/terms" target="_blank">Acepto los términos de registro.</a> 
                </label>
              </div>
              <button type="submit" class="btn btn-green">Crear cuenta.</button>
            </form>
          </div>
          
        </div>
      </div>
    </div>
      
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
    //<![CDATA[
      $('#login-form').validate();
      $('#register-form').validate();
    //]]>
    </script>
{% endblock %}