{% extends "general/layout.twig" %}

{% block head %}
	{{ parent() }}
<link rel="stylesheet" href="{{qv.css}}/bootstrap-datetimepicker.min.css" />	
<script type="text/javascript" src="{{ qv.js }}/moment-with-locales.js"></script>	
<script type="text/javascript" src="{{ qv.js }}/bootstrap-datetimepicker.min.js"></script>

	
{% endblock %}

{% block body %}
<div class="container tpvAlert" {% if error %}style="display: block;"{% else %}style="display: none;"{% endif %}>
        <div class="row">
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>¡Atención!</strong> Ocurrió un error al crear el evento(Solo imagenes).
            </div>
      </div>
</div>

<div class="container">	
	<h1>Crear evento</h1>
	<div class="add-event-form">
		<form action method="post" id="createEvent"class="form-horizontal" enctype="multipart/form-data">
			<div class="form-group">
				<label for="eventName" class="col-md-2 control-label">Nombre:</label>
				<div class="col-md-10">
	           	<input type="text" class="form-control" id="eventName" name="eventName" minlength="2" maxlength="60" required placeholder="Nombre del evento">
	           </div>
	        </div>
	        <div class="form-group">
	        	<label for="category" class="col-md-2 control-label">Categoría:</label>
				<div class="col-md-10">
		        <select class="form-control" name="category" id="category" required>
		        {% for c in category %}
		        	<option value="{{ c.id  }}">{{ c.category }}</option>
		        {% endfor %}
				</select>
				</div>
			</div>	
			<div class="form-group">
				<label for="image" class="col-md-2 control-label">Imagen del evento:</label>
				<div class="col-md-10">
				<input data-label="Upload" name="image" id="image" class="form-control" type="file" accept="image/*" required>
				</div>
	        </div>
			<div class="form-group">
				<label for="datetimepicker" class="col-md-2 control-label">Fecha y Hora:</label>
				<div class="col-md-10">				
		            <div class='input-group date' id='datetimepicker'>
		            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
	                <input type='text' name="date" class="form-control"/>
	            	</div>
	            </div>	
			</div>
	        <div class="form-group">
	        	<label for="description" class="col-md-2 control-label">Descripción:</label>
				<div class="col-md-10">
            		<textarea rows="4" maxlength="255" id="description" name="description" class="form-control" required placeholder="Escribe la descripción del evento aquí..."></textarea>
            	</div>
        	</div>
			<div class="form-group">
	        	<label for="eventPhone" class="col-md-2 control-label">Contacto:</label>
				<div class="col-md-10">				
	           	<input type="text" class="form-control" id="eventPhone" name="eventPhone" minlength="9" maxlength="9" required placeholder="Tu teléfono de contacto.....">
	           </div>
	        </div>        	
			<div class="form-group">
	        	<label for="eventPrice" class="col-md-2 control-label">Precio:</label>
				<div class="col-md-10">
					<div class="radio-inline">
					  <label>
					    <input type="radio" required name="price" id="free" value="free">
					    Grátis
					  </label>
					</div>
					<div class="radio-inline">
					  <label>
					    <input type="radio" required name="price" id="cost" value="cost">
					    Con aportación
					  </label>
					</div>	
				</div>

				<div  id="checkFree">
					<label for="eventDetails" class="col-md-2 control-label"></label>
					<div class="col-md-10">
		           	<input type="text" class="form-control"  name="eventPrice"  maxlength="45"  placeholder="tanto dinero...">
		           </div>
	           </div>
	        </div>
			<div class="form-group">
	        	<label for="eventCapacity" class="col-md-2 control-label">Aforo:</label>
	        	<div class="col-md-10">
					<div class="radio-inline">
					  <label>
					    <input type="radio" required name="capacity" id="limited" value="limited">
					    Limitado
					  </label>
					</div>
					<div class="radio-inline">
					  <label>
					    <input type="radio" required name="capacity" id="unlimited" value="unlimited">
					    Ilimitado
					  </label>
					</div>
				</div>		
				<div id="checkCapacity">
					<label for="eventCapacity" class="col-md-2 control-label"></label>	
					<div class="col-md-10" >			
		           	<input type="text" class="form-control"  name="eventCapacity" maxlength="11"  placeholder="tanto número de personas...">
		           </div>
	       		</div>
	        </div>
			<div class="form-group">
	        	<label for="eventDetails" class="col-md-2 control-label">Detalles:</label>
				<div class="col-md-10">				
	           	<input type="text" class="form-control"  name="eventDetails" maxlength="300" required placeholder="Detalles a tener en cuenta...como +18, llevar..tal">
	           </div>
	        </div>	    
			<div class="form-group">
				<label for="eventDetails" class="col-md-2 control-label"></label>
				<div class="col-md-10">
	        	<button type="submit" name="crear" class="btn btn-orange-brown form-control">Crear</button>
	        	</div>
	        </div>	            	                					
		</form>
	</div>	
</div>
{% endblock %}
{% block scripts %}
	{{ parent() }}
<script src="{{ qv.js }}/jquery.filepicker.js"></script>
<script type="text/javascript" src="{{ qv.js }}/bootstrap-datetimepicker.min.js"></script>
<script>
	$(function () {
		$("input[type='file']").filepicker({
			style: 'bootstrap' 
		});
	});	
</script>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker').datetimepicker({
                	language: 'es'
        });
    });
</script>
<script>
	$('#free').click(function(){
		$('#checkFree').hide();	
	});
	$('#cost').click(function(){
		$('#checkFree').show();	
	});
	$('#limited').click(function(){
		$('#checkCapacity').show();

	});	
	$('#unlimited').click(function(){
		$('#checkCapacity').hide();
	});	

</script>
<script>
$('#createEvent').validate({
	rules: {
		eventName: {
				required : true
		},
		category: {
				required : true
		},
		image: {
				required : true,
				rule: function () {
					var input = document.getElementById('image');
					var files = input.files;
					var file;
					if(files.length > 0){
						file = files.item(0);
						switch (file.type) {
				        case('image/jpeg'):
				        	return true;
				        case('image/jpg'):
				          return true;
				        case('image/png'):
				          return true;
				        case('image/gif'):
				          return true;
				        default:
				          return false;
				      }
					}
				}
		},
		date: {
				required : true
		},
		description : {
				required : true,
				maxlength : 300
		},
		eventPhone: {
				required : true,
				digits	: true,
				minlength : 9
		},
		price : {
				required : true
		},
		eventPrice : {
				required : true
		},
		capacity : {
				required : true
		},
		eventCapacity : {
				required : true
		},
		eventDetails : {
				required : true
		}

	}
});
</script>
{% endblock %}

