{% extends "general/layout.twig" %}

{% block head %}
	{{ parent() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<link rel="stylesheet" href="{{ qv.css }}/bootstrap-datetimepicker.min.css" />
<script type="text/javascript" src="{{ qv.js }}/moment-with-locales.js"></script>		
<script type="text/javascript" src="{{ qv.js }}/bootstrap-datetimepicker.min.js"></script>
{% endblock %}

{% block body %}
<div class="event-header">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				{% if adminOrCreator %}
				<form id="image-form" method="post" enctype="multipart/form-data">
				  <div class="form-group">	
					<img src="{{ path }}" class="img-responsive"></img>
			        <a href="#" class="text-normal btn btn-link btn-edit btn-file ">
			          <span class="btn-label" >Editar</span>
			          <input type="file" name="image" class="form-control-inline">
			        </a>					
				  </div>	
				</form>
				{% else %}
				<img src="{{ path }}" class="img-responsive"></img>
				{% endif %}
			</div>
			<div class="col-md-8">
				{% if adminOrCreator %}
				<form id="event-form" method="post">
					<input type="hidden" value="{{ event.id }}" name="eventId">
					<div class="form-group">
			          <label for="eventName" class="pull-left">
			            <span class="label-text">Evento:</span>
			          </label>
			          <label for="eventName" class="pull-right"><span class="btn btn-link btn-edit">Editar</span></label>
			          <div class="form-control-wrap">
			            <input type="text" id="eventName" name="eventName" value="{{ event.name }}" placeholder="escribe el nombre del evento" class="form-control form-control-inline">
			          </div>
			        </div>
					<div class="form-group">
			          <label for="date" class="pull-left">
			            <span class="label-text">Fecha y Hora:</span>
			          </label>
			          <label for="date" class="pull-right"><span class="btn btn-link btn-edit">Editar</span></label>
			          <div class="form-control-wrap">
			           <div class='input-group date' id='datetimepicker'>
				            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
			                <input type='text' id="date" name="date" value="{{ event.dateFinish|date('m/d/Y h:i') }}" class="form-control form-control-inline"/>
		            	</div>
			          </div>
			        </div>
				
			        <script>
						    $(function () {
						        $('#datetimepicker').datetimepicker({
						                	//language: 'es'
						        });
						    });
					</script>
					<div class="form-group">
			          <label for="category" class="pull-left">
			            <span class="label-text">Categoría:</span>
			          </label>
			          <label for="category" class="pull-right"><span class="btn btn-link btn-edit">Editar</span></label>
			          <div class="form-control-wrap">
				        <select class="form-control form-control-inline" name="category" id="category" >
				        {% for c in category %}
				        	<option value="{{ c.category  }}" {% if event.category == c.category %} selected {% endif %}>{{ c.category }}</option>
				        {% endfor %}
						</select>
			          </div>
			        </div>
					<div class="form-group">
			          <label for="description" class="pull-left">
			            <span class="label-text">Descripción:</span>
			          </label>
			          <label for="description" class="pull-right"><span class="btn btn-link btn-edit">Editar</span></label>
			          <div class="form-control-wrap">
            			<textarea rows="4" maxlength="255"  id="description" name="description" class="form-control form-control-inline" placeholder="Escribe la descripción del evento aquí...">{{ eventInfo.description }}</textarea>			          		
			          </div>
			        </div>
					<div class="form-group">
			          <label for="description" class="pull-left">
			            <span class="label-text">Creado por:</span>
			          </label>
			          <div class="form-control-wrap">
 						{{ userEvent.name }}			          		
			          </div>
			        </div>
					<div class="form-group">
			          <label for="eventPhone" class="pull-left">
			            <span class="label-text">Teléfono:</span>
			          </label>
			          <label for="eventPhone" class="pull-right"><span class="btn btn-link btn-edit">Editar</span></label>
			          <div class="form-control-wrap">
			          	<input type="text" class="form-control form-control-inline" id="eventPhone" value="{{ eventInfo.phone }}" name="eventPhone" minlength="9" maxlength="9" placeholder="teléfono de contacto.....">	
			          </div>
			        </div>
					<div class="form-group">
			          <label for="capacity" class="pull-left">
			            <span class="label-text">Aforo:</span>
			          </label>
			          <label for="capacity" class="pull-right"><span class="btn btn-link btn-edit">Editar</span></label>
			          <div class="form-control-wrap">
			          	<input type="text" class="form-control form-control-inline" id="capacity" value="{{ eventInfo.capacity }}" name="capacity" placeholder="escribe el aforo del evento.....">	
			          </div>
			          	<div class="radios-capacity">
							<div class="radio-inline">
							  <label>
							    <input type="radio" name="capacityRadio" id="limited" value="limited">
							    Limitado
							  </label>
							</div>
							<div class="radio-inline">
							  <label>
							    <input type="radio" name="capacityRadio" id="unlimited" value="unlimited">
							    Ilimitado
							  </label>
							</div>
			       	 	</div>				          
			        </div>
					<div class="form-group">
			          <label for="price" class="pull-left">
			            <span class="label-text">Precio:</span>
			          </label>
			          <label for="price" class="pull-right"><span class="btn btn-link btn-edit">Editar</span></label>
			          <div class="form-control-wrap">
			          	<input type="text" class="form-control form-control-inline" id="price" value="{{ eventInfo.price }}" name="price" placeholder="escribe el precio del evento.....">	
			          </div>
			          <div class="radios-price">
			          	<div class="radio-inline">
						  <label>
						    <input type="radio"  name="priceRadio" id="free" value="free">
						    Grátis
						  </label>
						</div>
						<div class="radio-inline">
						  <label>
						    <input type="radio" name="priceRadio" id="cost" value="cost">
						    Con aportación
						  </label>
						</div>
			          </div>
			        </div>			        			        			          
					<div class="form-group">
			          <label for="eventDetails" class="pull-left">
			            <span class="label-text">Detalles:</span>
			          </label>
			          <label for="eventDetails" class="pull-right"><span class="btn btn-link btn-edit">Editar</span></label>
			          <div class="form-control-wrap">
			          	<input type="text" class="form-control form-control-inline" id="eventDetails" value="{{ eventInfo.details }}" name="eventDetails" placeholder="Detalles del evento.....">	
			          </div>
			        </div>			        
				</form>				
				{% else %}
				<h1>{{ event.name }}</h1>
				<p><strong>Fecha y Hora:</strong> {{ event.dateFinish }}</p>
				<p><strong>Categoría:</strong> {{ event.category }}</p>
				<p><strong>Descripción:</strong> {{ eventInfo.description }}</p>
				<p><strong>Creado por:</strong> {{ userEvent.name }}</p>
				<p><strong>Teléfono de contacto:</strong> {{ eventInfo.phone }}</p>
				<p><strong>Aforo:</strong> {{ eventInfo.capacity }}</p>
				<p><strong>Precio:</strong> {{ eventInfo.price }}</p>
				<p><strong>Detalles:</strong> {{ eventInfo.details }}</p>
				{% endif %}	

				{% if go %}
				<a href="#" class="btn btn-orange-brown form-control">No Asistiré</a>
				{% else %}
				<a href="#" class="btn btn-orange-brown form-control">Asistiré</a>
				{% endif %}
			</div>
		</div>
	</div>	
</div>

{% endblock %}
{% block scripts %}
<script src="{{ qv.js }}/bootstrap.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
{% if language.locale[:2] != 'en' %}
  <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/localization/messages_{{ language.locale[:2] }}.min.js"></script>
{% endif %}
<script src="{{ qv.js }}/cookie-{{ langCurrent[0] }}.js"></script>
<script>
$( document ).ready(function() {
	$('.form-control-inline:input').focusin(function(){
		var $i = $(this);
		var name = $i.prop("name");
		switch(name) {
		    case 'capacity':
		    	$i.removeClass('form-control-inline').addClass('form-control-editing');	
		        $('.radios-capacity').show();
		        break;
		    case 'price':
		    	$i.removeClass('form-control-inline').addClass('form-control-editing');
		        $('.radios-price').show();
		        break;		        
		    default:
		        $i.removeClass('form-control-inline').addClass('form-control-editing');	
		}
	});

	$(':input').on( "focusout", function() {
		var $i = $(this);
		$i.removeClass('form-control-editing').addClass('form-control-inline');	
	}); 	  
});

</script>
<script>
	$('#free').click(function(){
		$('#price').removeClass('form-control-editing').addClass('form-control-inline');	
		$('#price').val('free');
	});
	$('#cost').click(function(){
		$('#price').focusin();
		$('#price').val('');	
	});
	$('#limited').click(function(){
		$('#capacity').focusin();
		$('#capacity').val('');
	});	
	$('#unlimited').click(function(){
		$('#capacity').removeClass('form-control-editing').addClass('form-control-inline');	
		$('#capacity').val('unlimited');
	});	

</script>
{% endblock %}


