{%  extends "general/layout.twig" %}

{% block head %}
	{{ parent() }}
	<link href="{{ qv.css }}/calendar.min.css" rel="stylesheet">
	<link href="{{ qv.css }}/custom_1.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
{% include 'home/home-slider.twig' %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center"><strong>EVENTOS</strong></h1>
    </div>
  </div>
</div>
  <div class="calendar-separator">
    	<div class="calendar-container">
          <div class="custom-header clearfix">
          <h2>Calendario de eventos</h2>
            <h3 class="custom-month-year">
              <span id="custom-month" class="custom-month"></span>
              <span id="custom-year" class="custom-year"></span>
              <nav>
                <span id="custom-prev" class="custom-prev"></span>
                <span id="custom-next" class="custom-next"></span>
                <span id="custom-current" class="custom-current" title="Got to current date"></span>
              </nav>
            </h3>
          </div>
          <div id="calendar" class="fc-calendar-container"></div>
      </div>
  </div>
{% endblock %}
{% block scripts %}
  {{ parent() }}
<script src="{{ qv.js }}/jquery.calendario.min.js"></script>
<script>
$( document ).ready(function() {
var codropsEvents = JSON.parse('{{ eventos | e('js') }}');
    var cal = $( '#calendar' ).calendario( {
            onDayClick : function( $el, $contentEl, dateProperties ) {

              for( var key in dateProperties ) {
                console.log( key + ' = ' + dateProperties[ key ] );
              }

            },
            caldata : codropsEvents
          } ),
          $month = $( '#custom-month' ).html( cal.getMonthName() ),
          $year = $( '#custom-year' ).html( cal.getYear() );

        $( '#custom-next' ).on( 'click', function() {
          cal.gotoNextMonth( updateMonthYear );
        } );
        $( '#custom-prev' ).on( 'click', function() {
          cal.gotoPreviousMonth( updateMonthYear );
        } );
        $( '#custom-current' ).on( 'click', function() {
          cal.gotoNow( updateMonthYear );
        } );

        function updateMonthYear() {        
          $month.html( cal.getMonthName() );
          $year.html( cal.getYear() );
        }
        // you can also add more data later on. As an example:
        /*
        someElement.on( 'click', function() {
          
          cal.setData( {
            '03-01-2013' : '<a href="#">testing</a>',
            '03-10-2013' : '<a href="#">testing</a>',
            '03-12-2013' : '<a href="#">testing</a>'
          } );
          // goes to a specific month/year
          cal.goto( 3, 2013, updateMonthYear );

        } );
        */
});     
</script>

{% endblock %}