{%  extends "general/layout.twig" %}

{% block head %}
	{{ parent() }}
	<link href="{{ qv.css }}/calendar.css" rel="stylesheet">
	<link href="{{ qv.css }}/custom_1.css" rel="stylesheet">
{% endblock %}

{% block body %}
{% include 'home/home-slider.twig' %}
  <div class="container">
  	<div class="calendar-container">
   		<div id="calendar" class="fc-calendar-container">
   	</div>
   	</div>
  </div>

{% endblock %}
{% block scripts %}
  {{ parent() }}
<script src="{{ qv.js }}/jquery.calendario.js"></script>
<script>
	$( '#calendar' ).calendario();

</script>

{% endblock %}